# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/DS_Assignment2.iml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/vcs.xml
